In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime, timedelta, date

In [21]:
files = ["CPI.csv","median_sale_price.csv","home_value_index.csv"]
data =[pd.read_csv('data/'+i) for i in files]

In [22]:
data[1][data[1]['StateName'] == 'CA']
cali_median = data[1][data[1]['StateName'] == 'CA']
cali_median

,RegionID,SizeRank,RegionName,RegionType,StateName,2008-02-02,2008-02-09,2008-02-16,2008-02-23,2008-03-01,...,2023-12-02,2023-12-09,2023-12-16,2023-12-23,2023-12-30,2024-01-06,2024-01-13,2024-01-20,2024-01-27,2024-02-03
2,753899,2,"Los Angeles, CA",msa,CA,450000.0,460000.0,474000.0,482000.0,460000.0,...,893500.0,885000.0,890000.0,861500.0,860000.0,869000.0,908500.0,830000.0,850000.0,870500.0
11,395057,12,"San Francisco, CA",msa,CA,520000.0,517000.0,550000.0,541000.0,560000.0,...,1121250.0,1065000.0,1000000.0,990000.0,901000.0,1010000.0,975000.0,867500.0,915000.0,975000.0
12,395025,13,"Riverside, CA",msa,CA,300000.0,289000.0,307000.0,285000.0,299000.0,...,526000.0,525000.0,525000.0,525000.0,530000.0,525000.0,535000.0,535000.0,522500.0,525000.0
16,395056,17,"San Diego, CA",msa,CA,409000.0,410000.0,410000.0,385000.0,395000.0,...,862000.0,816000.0,830000.0,789950.0,805000.0,830000.0,802500.0,795000.0,822500.0,880000.0
25,395045,26,"Sacramento, CA",msa,CA,279950.0,285000.0,292000.0,278000.0,280000.0,...,550000.0,535000.0,539250.0,554000.0,530000.0,515000.0,522500.0,525000.0,525000.0,550000.0
34,395059,36,"San Jose, CA",msa,CA,665000.0,650000.0,673000.0,655000.0,650000.0,...,1480000.0,1380000.0,1380000.0,1300000.0,1405000.0,1465000.0,1448000.0,1300000.0,1215000.0,1310000.0
54,394619,57,"Fresno, CA",msa,CA,234500.0,199000.0,255000.0,250000.0,230000.0,...,370000.0,350000.0,360000.0,377000.0,375000.0,369000.0,382500.0,385140.0,336500.0,368500.0
60,394357,63,"Bakersfield, CA",msa,CA,210000.0,218250.0,206000.0,200000.0,199500.0,...,325000.0,312500.0,305000.0,300000.0,292500.0,341000.0,318500.0,320000.0,329500.0,325000.0
65,394952,71,"Oxnard, CA",msa,CA,435250.0,464000.0,450000.0,471500.0,470000.0,...,850000.0,837000.0,802500.0,739000.0,775000.0,760000.0,780000.0,827500.0,848000.0,850000.0
71,395134,77,"Stockton, CA",msa,CA,253145.0,240000.0,255000.0,265000.0,252500.0,...,469000.0,480000.0,515000.0,490000.0,517500.0,472500.0,475000.0,481750.0,505000.0,492500.0
91,394871,103,"Modesto, CA",msa,CA,228000.0,255000.0,235750.0,225000.0,250000.0,...,450000.0,435000.0,447500.0,460000.0,447250.0,447000.0,429500.0,433500.0,425000.0,434000.0
100,395068,112,"Santa Rosa, CA",msa,CA,505000.0,437250.0,345000.0,412000.0,424750.0,...,730000.0,767500.0,750000.0,738000.0,749000.0,725000.0,789500.0,835000.0,800000.0,744750.0
106,395195,119,"Visalia, CA",msa,CA,172500.0,228500.0,182000.0,200000.0,180000.0,...,331500.0,323000.0,345000.0,335000.0,290000.0,350000.0,299500.0,299000.0,313500.0,280000.0
110,395183,123,"Vallejo, CA",msa,CA,291500.0,360000.0,307500.0,320000.0,334500.0,...,584500.0,525000.0,535000.0,553000.0,522500.0,515000.0,535000.0,539500.0,550000.0,564000.0
111,753917,124,"Santa Maria, CA",msa,CA,338000.0,470000.0,510000.0,352000.0,407000.0,...,845000.0,815000.0,750000.0,1215000.0,1390000.0,905000.0,1137500.0,752505.0,965250.0,688000.0
112,395050,125,"Salinas, CA",msa,CA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,645000.0,812500.0,760000.0,701000.0,842500.0,850000.0
149,395061,175,"San Luis Obispo, CA",msa,CA,NaN,NaN,NaN,NaN,NaN,...,799000.0,927500.0,649000.0,849000.0,725000.0,791000.0,915000.0,937000.0,730000.0,750000.0
151,394851,177,"Merced, CA",msa,CA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,360000.0

In [23]:
data[2][data[2]['StateName'] == 'CA']
cali_value = data[2][data[2]['StateName'] == 'CA']
cali_value

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2000-01-31,...,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29
0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,170954.132763,...,6.262264e+05,6.290293e+05,6.343359e+05,6.419623e+05,6.503384e+05,6.569639e+05,6.617606e+05,6.638063e+05,6.629965e+05,659767.107975
4,2841,4,San Diego County,county,CA,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,150972.303385,...,6.124122e+05,6.181743e+05,6.250544e+05,6.329765e+05,6.407441e+05,6.472281e+05,6.516498e+05,6.532640e+05,6.543523e+05,656328.807350
5,1286,5,Orange County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,59,183441.761951,...,6.648088e+05,6.724927e+05,6.809339e+05,6.906291e+05,7.009197e+05,7.103338e+05,7.170661e+05,7.207181e+05,7.229461e+05,724930.911170
9,2832,9,Riverside County,county,CA,CA,"Riverside-San Bernardino-Ontario, CA",6,65,122275.980012,...,4.523601e+05,4.542221e+05,4.564458e+05,4.585424e+05,4.604002e+05,4.616770e+05,4.624176e+05,4.622423e+05,4.621945e+05,462213.923656
13,3250,13,San Bernardino County,county,CA,CA,"Riverside-San Bernardino-Ontario, CA",6,71,118656.385314,...,4.764993e+05,4.786588e+05,4.820334e+05,4.863995e+05,4.906344e+05,4.949659e+05,4.983306e+05,5.009262e+05,5.017665e+05,501674.974988
16,3136,16,Santa Clara County,county,CA,CA,"San Jose-Sunnyvale-Santa Clara, CA",6,85,251680.171294,...,8.139190e+05,8.156594e+05,8.214557e+05,8.306154e+05,8.425566e+05,8.536289e+05,8.629985e+05,8.676235e+05,8.678395e+05,864448.567827
19,1510,19,Alameda County,county,CA,CA,"San Francisco-Oakland-Berkeley, CA",6,1,211729.709338,...,6.661798e+05,6.679852e+05,6.704964e+05,6.733790e+05,6.767579e+05,6.793468e+05,6.806483e+05,6.797178e+05,6.782731e+05,676882.134503
23,3017,23,Sacramento County,county,CA,CA,"Sacramento-Roseville-Folsom, CA",6,67,91044.903529,...,3.351379e+05,3.360568e+05,3.376836e+05,3.400216e+05,3.420076e+05,3.433700e+05,3.438676e+05,3.432632e+05,3.423204e+05,341451.444704
37,3159,37,Contra Costa County,county,CA,CA,"San Francisco-Oakland-Berkeley, CA",6,13,203664.041442,...,5.231125e+05,5.235522e+05,5.258870e+05,5.282427e+05,5.310276e+05,5.329530e+05,5.342794e+05,5.338939e+05,5.334141e+05,533533.928575
46,1018,46,Fresno County,county,CA,CA,"Fresno, CA",6,19,66869.931945,...,2.374415e+05,2.391152e+05,2.413521e+05,2.441347e+05,2.467666e+05,2.490810e+05,2.500739e+05,2.502847e+05,2.500811e+05,250497.132859
61,204,61,Kern County,county,CA,CA,"Bakersfield, CA",6,29,66756.160929,...,2.103724e+05,2.122330e+05,2.139984e+05,2.160149e+05,2.179036e+05,2.195925e+05,2.207637e+05,2.214319e+05,2.219544e+05,222482.081426
65,3227,65,San Francisco County,county,CA,CA,"San Francisco-Oakland-Berkeley, CA",6,75,410219.578933,...,1.011732e+06,1.011509e+06,1.013391e+06,1.016896e+06,1.020078e+06,1.019712e+06,1.015992e+06,1.008449e+06,1.001931e+06,997059.209565
74,2061,74,Ventura County,county,CA,CA,"Oxnard-Thousand Oaks-Ventura, CA",6,111,173286.271335,...,5.590632e+05,5.632770e+05,5.679836e+05,5.729115e+05,5.774546e+05,5.802337e+05,5.815616e+05,5.811938e+05,5.819539e+05,583321.413017
83,3134,83,San Joaquin County,county,CA,CA,"Stockton, CA",6,77,73118.911540,...,2.754787e+05,2.761611e+05,2.772118e+05,2.785082e+05,2.798790e+05,2.811946e+05,2.819939e+05,2.819856e+05,2.815796e+05,281154.584534
85,2842,85,San Mateo County,county,CA,CA,"San Francisco-Oakland-Berkeley, CA",6,81,271025.456196,...,8.643511e+05,8.663870e+05,8.695637e+05,8.730488e+05,8.756897e+05,8.766061e+05,8.750183e+05,8.702920e+05,8.649475e+05,860333.026896
124,3033,124,Stanislaus County,county,CA,CA,"Modesto, CA",6,99,77110.016801,...,2.831935e+05,2.839386e+05,2.855464e+05,2.877674e+05,2.902697e+05,2.919265e+05,2.925948e+05,2.919418e+05,2.910888e+05,290665.990399
144,1396,144,Sonoma County,county,CA,CA,"Santa Rosa-Petaluma, CA",6,97,160810.392165,...,4.656356e+05,4.684925e+05,4.708171e+05,4.731099e+05,4.752720e+05,4.775403e+05,4.787092e+05,4.782240e+05,4.780074e+05,477885.371278
151,1442,151,Tulare County,county,CA,CA,"Visalia, CA",6,107,69426.780480,...,2.437027e+05,2.451760e+05,2.470587e+05,2.499592e+05,2.527929e+05,2.552646e+05,2.561899e+05,2.562643e+05,2.561141e+05,256432.823356
158,1395,158,Solano County,county,CA,CA,"Vallejo, CA",6,95,100500.216435,...,3.650892e+05,3.662806e+05,3.674907e+05,3.696238e+05,3.714560e+05,3.725334e+05,3.716564e+05,3.708496e+05,3.700438e+05,370281.895890
159,3229,159,Santa Barbara County,county,CA,CA,"Santa Maria-Santa Barbara, CA",6,83,225462.700131,...,7.428949e+05,7.497699e+05,7.562701e+05,7.659202e+05,7.766129e+05,7.855641e+05,7.915832e+05,7.945604e+05,7.972387e+05,799844.591928
161,2444,161,Monterey County,county,CA,CA,"Salinas, CA",6,53,200869.309181,...,5.906420e+05,5.937669e+05,5.990048e+05,6.054385e+05,6.119513e+05,6.172511e+05,6.207104e+05,6.216380e+05,6.207681e+05,619138.023590
177,1325,177,Placer County,county,CA,CA,"Sacramento-Roseville-Folsom, CA",6,61,155878.889756,...,4.705647e+05,4.697240e+05,4.701785e+05,4.717013e+05,4.730734e+05,4.742770e+05,4.752211e+05,4.751870e+05,4.744494e+05,473783.660836
246,3261,247,San Luis Obispo County,county,CA,CA,"San Luis Obispo-Paso Robles, CA",6,79,151701.234572,...,5.631250e+05,5.673683e+05,5.725423e+05,5.787513e+05,5.848716e+05,5.905409e+05,5.945949e+05,5.962287e+05,5.960058e+05,594704.732669
248,1196,249,Merced County,county,CA,CA,"Merced, CA",6,47,NaN,...,2.857816e+05,2.858510e+05,2.861440e+05,2.877667e+05,2.899976e+05,2.916435e+05,2.916968e+05,2.909803e+05,2.898060e+05,289070.318382
253,3025,254,Santa Cruz County,county,CA,CA,"Santa Cruz-Watsonville, CA",6,87,215963.001997,...,7.211644e+05,7.228508e+05,7.268961e+05,7.338826e+05,7.412177e+05,7.451922e+05,7.453748e+05,7.425824e+05,7.404273e+05,739364.393656
265,625,266,Marin County,county,CA,CA,"San Francisco-Oakland-Berkeley, CA",6,41,237020.284897,...,6.882952e+05,6.894450e+05,6.928760e+05,6.980413e+05,7.033697e+05,7.063529e+05,7.061165e+05,7.026636e+05,6.987970e+05,695950.264844
312,418,314,Butte County,county,CA,CA,"Chico, CA",6,7,NaN,...,2.466868e+05,2.470318e+05,2.472857e+05,2.471335e+05,2.463101e+05,2.454902e+05,2.448717e+05,2.442871e+05,2.442563e+05,244239.769714
313,340,315,Yolo County,county,CA,CA,"Sacramento-Roseville-Folsom, CA",6,113,115818.523159,...,4.258551e+05,4.274924e+05,4.294758e+05,4.313872e+05,4.327739e+05,4.331832e+05,4.332456e+05,4.322510e+05,4.322845e+05,432420.469681
346,2691,350,El Dorado County,county,CA,CA,"Sacramento-Roseville-Folsom, CA",6,17,120184.667841,...,3.957899e+05,3.973757e+05,3.998001e+05,4.027512e+05,4.053825e+05,4.074835e+05,4.084533e+05,4.083014e+05,4.077566e+05,407388.997010
361,1380,368,Shasta County,county,CA,CA,"Redding, CA",6,89,86433.448823,...,2.705665e+05,2.715540e+05,2.720070e+05,2.723663e+05,2.727775e+05,2.726826e+05,2.717383e+05,2.701855e+05,2.694303e+05,269641.806455
366,2354,373,Imperial County,county,CA,CA,"El Centro, CA",6,25,NaN,...,2.480368e+05,2.486328e+05,2.473171e+05,2.448103e+05,2.427457e+05,2.403463e+05,2.375830e+05,2.357727e+05,2.348228e+05,235132.062895
453,255,472,Napa County,county,CA,CA,"Napa, CA",6,55,174882.559694,...,6.484742e+05,6.507551e+05,6.535656e+05,6.572163e+05,6.604723e+05,6.625770e+05,6.637702e+05,6.618126e+05,6.595850e+05,657912.908657
554,1261,600,Nevada County,county,CA,CA,"Truckee-Grass Valley, CA",6,57,NaN,...,6.683300e+05,6.698533e+05,6.716189e+05,6.736069e+05,6.756522e+05,6.769410e+05,6.757029e+05,6.719057e+05,6.681107e+05,668251.081860
564,1415,610,Sutter County,county,CA,CA,"Yuba City, CA",6,101,NaN,...,2.204888e+05,2.206485e+05,2.216821e+05,2.224149e+05,2.224964e+05,2.224542e+05,2.222474e+05,2.214221e+05,2.208751e+05,221191.407549
675,217,797,Lake County,county,CA,CA,"Clearlake, CA",6,33,NaN,...,2.828382e+05,2.827146e+05,2.833275e+05,2.845087e+05,2.856403e+05,2.858817e+05,2.846578e+05,2.816632e+05,2.791188e+05,278584.353693
701,3020,852,San Benito County,county,CA,CA,"San Jose-Sunnyvale-Santa Clara, CA",6,69,NaN,...,5.072785e+05,5.096718e+05,5.126404e+05,5.158593e+05,5.175617e+05,5.189502e+05,5.189098e+05,5.188297e+05,5.187422e+05,518585.165548
798,2643,1082,Calaveras County,county,CA,CA,NaN,6,9,NaN,...,3.282530e+05,3.285822e+05,3.287265e+05,3.291547e+05,3.295727e+05,3.299929e+05,3.300786e+05,3.298046e+05,3.299225e+05,329962.484181
949,1329,1897,Plumas County,county,CA,CA,NaN,6,63,NaN,...,4.159121e+05,4.173894e+05,4.172439e+05,4.183042e+05,4.196542e+05,4.210823e+05,4.209359e+05,4.185241e+05,4.157341e+05,413521.387356
986,253,2268,Mono County,county,CA,CA,NaN,6,51,NaN,...,6.672621e+05,6.694736e+05,6.723596e+05,6.769150e+05,6.808519e+05,6.838432e+05,6.842855e+05,6.838358e+05,6.845585e+05,686475.578659
1012,828,3165,Alpine County,county,CA,CA,NaN,6,3,NaN,...,4.049373e+05,4.067868e+05,4.084817e+05,4.081678e+05,4.071008e+05,4.057750e+05,4.034133e+05,4.002201e+05,3.979967e+05,398996.064792

In [24]:
data[0]

           DATE  CPIAUCSL
0    1947-01-01    21.480
1    1947-02-01    21.620
2    1947-03-01    22.000
3    1947-04-01    22.000
4    1947-05-01    21.950
..          ...       ...
921  2023-10-01   307.531
922  2023-11-01   308.024
923  2023-12-01   308.742
924  2024-01-01   309.685
925  2024-02-01   311.054

[926 rows x 2 columns]

In [25]:
def get_weekly_dates(start_date_str, end_date_str=None):
    """
    Generate dates every week starting from the provided start date up to the end date.
    
    Args:
    - start_date_str: A string representing the start date in the format 'YYYY-MM-DD'.
    - end_date_str: A string representing the end date in the format 'YYYY-MM-DD'. If None, the current date is considered.
    
    Returns:
    - A list of datetime objects representing the weekly dates.
    """
    start_date = datetime.strptime(start_date_str, '%Y-%m-%d')
    
    if end_date_str:
        end_date = datetime.strptime(end_date_str, '%Y-%m-%d')
    else:
        end_date = datetime.now()
    
    weekly_dates = []
    current_date = start_date
    new_CPI = pd.DataFrame()
    while current_date <= end_date:
        weekly_dates.append(current_date.date())
        current_date += timedelta(weeks=1)
    
    return weekly_dates

# Example usage:
start_date = '2008-02-02'
end_date = '2024-02-20'  # You can provide an end date or leave it as None to get dates up to the current date
weekly_dates = get_weekly_dates(start_date, end_date)

test = pd.DataFrame({'DATE': weekly_dates, "num" :range(0,len(weekly_dates))})
test2 = data[0]
test2['DATE'] = test2['DATE'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
test = test.set_index('DATE')
test2 = test2.set_index('DATE')
test3 = pd.concat([test2,test],axis=1)
del test3['num']
new_CPI = test3.ffill().dropna()
new_CPI

                     CPIAUCSL
DATE
1947-01-01 00:00:00    21.480
1947-02-01 00:00:00    21.620
1947-03-01 00:00:00    22.000
1947-04-01 00:00:00    22.000
1947-05-01 00:00:00    21.950
...                       ...
2024-01-20            304.628
2024-01-27            304.628
2024-02-03            304.628
2024-02-10            304.628
2024-02-17            304.628

[1764 rows x 1 columns]

In [26]:
df1 = pd.DataFrame(cali_median.iloc[:,5:])
df1['RegionName'] = cali_median['RegionName']
df1 = df1.transpose()
names = df1.loc['RegionName']
names = list(names)
df1 = df1.drop('RegionName')
df1.columns = names
df1.index.names = ['Date']
df1 = df1.reset_index()
df1 = pd.melt(df1,id_vars='Date',value_vars=names)
df1

             Date         variable     value
0      2008-02-02  Los Angeles, CA  450000.0
1      2008-02-09  Los Angeles, CA  460000.0
2      2008-02-16  Los Angeles, CA  474000.0
3      2008-02-23  Los Angeles, CA  482000.0
4      2008-03-01  Los Angeles, CA  460000.0
...           ...              ...       ...
15043  2024-01-06       Merced, CA       NaN
15044  2024-01-13       Merced, CA       NaN
15045  2024-01-20       Merced, CA       NaN
15046  2024-01-27       Merced, CA       NaN
15047  2024-02-03       Merced, CA  360000.0

[15048 rows x 3 columns]

In [27]:
df2 = pd.DataFrame(cali_value.iloc[:,9:])
df2['RegionName'] = cali_value['RegionName']
df2 = df2.transpose()
names = df2.loc['RegionName']
names = list(names)
df2 = df2.drop('RegionName')
df2.columns = names
df2.index.names = ['Date']
df2 = df2.reset_index()
df2 = pd.melt(df2,id_vars='Date',value_vars=names)
pd.to_datetime(df2.iloc[:,0]).dt.to_period('M')

0        2000-01
1        2000-02
2        2000-03
3        2000-04
4        2000-05
          ...
11595    2023-10
11596    2023-11
11597    2023-12
11598    2024-01
11599    2024-02
Name: Date, Length: 11600, dtype: period[M]

In [28]:
dfs = [df1,df2,data[0]]
data[0].iloc[:,0]
for i in dfs:
    convertion = pd.to_datetime(i.iloc[:,0])
    i['month'] = convertion.dt.to_period("M")
    print(i)

             Date         variable     value    month
0      2008-02-02  Los Angeles, CA  450000.0  2008-02
1      2008-02-09  Los Angeles, CA  460000.0  2008-02
2      2008-02-16  Los Angeles, CA  474000.0  2008-02
3      2008-02-23  Los Angeles, CA  482000.0  2008-02
4      2008-03-01  Los Angeles, CA  460000.0  2008-03
...           ...              ...       ...      ...
15043  2024-01-06       Merced, CA       NaN  2024-01
15044  2024-01-13       Merced, CA       NaN  2024-01
15045  2024-01-20       Merced, CA       NaN  2024-01
15046  2024-01-27       Merced, CA       NaN  2024-01
15047  2024-02-03       Merced, CA  360000.0  2024-02

[15048 rows x 4 columns]
             Date            variable          value    month
0      2000-01-31  Los Angeles County  170954.132763  2000-01
1      2000-02-29  Los Angeles County  171176.166016  2000-02
2      2000-03-31  Los Angeles County  171924.745831  2000-03
3      2000-04-30  Los Angeles County  173418.061376  2000-04
4      2000-05-31  Los Angeles County  175286.495572  2000-05
...           ...                 ...            ...      ...
11595  2023-10-31       Alpine County  405775.029465  2023-10
11596  2023-11-30       Alpine County   403413.30512  2023-11
11597  2023-12-31       Alpine County  400220.111318  2023-12
11598  2024-01-31       Alpine County  397996.749264  2024-01
11599  2024-02-29       Alpine County  398996.064792  2024-02

[11600 rows x 4 columns]
          DATE  CPIAUCSL    month
0   1947-01-01    21.480  1947-01
1   1947-02-01    21.620  1947-02
2   1947-03-01    22.000  1947-03
3   1947-04-01    22.000  1947-04
4   1947-05-01    21.950  1947-05
..         ...       ...      ...
921 2023-10-01   307.531  2023-10
922 2023-11-01   308.024  2023-11
923 2023-12-01   308.742  2023-12
924 2024-01-01   309.685  2024-01
925 2024-02-01   311.054  2024-02

[926 rows x 3 columns]

In [29]:
dfs[0]['variable'] = dfs[0]['variable'].apply(lambda x: x[:-4])
dfs[1]['variable'] = dfs[1]['variable'].apply(lambda x: x[:-7])

In [30]:
price_value = dfs[0].merge(dfs[1],on=['variable','month'])
price_value

          Date_x     variable   value_x    month      Date_y        value_y
0     2008-02-02  Los Angeles  450000.0  2008-02  2008-02-29  415114.267851
1     2008-02-09  Los Angeles  460000.0  2008-02  2008-02-29  415114.267851
2     2008-02-16  Los Angeles  474000.0  2008-02  2008-02-29  415114.267851
3     2008-02-23  Los Angeles  482000.0  2008-02  2008-02-29  415114.267851
4     2008-03-01  Los Angeles  460000.0  2008-03  2008-03-31  409234.159417
...          ...          ...       ...      ...         ...            ...
6683  2024-01-06       Merced       NaN  2024-01  2024-01-31  289806.009213
6684  2024-01-13       Merced       NaN  2024-01  2024-01-31  289806.009213
6685  2024-01-20       Merced       NaN  2024-01  2024-01-31  289806.009213
6686  2024-01-27       Merced       NaN  2024-01  2024-01-31  289806.009213
6687  2024-02-03       Merced  360000.0  2024-02  2024-02-29  289070.318382

[6688 rows x 6 columns]

In [31]:
del price_value['month']
del price_value['Date_y']
price_value.columns = ['Date','County','median_price','avg_value']

In [32]:
price_value.info()
price_value['County'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6688 entries, 0 to 6687
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          6688 non-null   object
 1   County        6688 non-null   object
 2   median_price  5797 non-null   object
 3   avg_value     6688 non-null   object
dtypes: object(4)
memory usage: 209.1+ KB

array(['Los Angeles', 'San Francisco', 'Riverside', 'San Diego',
       'Sacramento', 'Fresno', 'San Luis Obispo', 'Merced'], dtype=object)

In [33]:
dates = price_value.iloc[0:len(price_value[price_value['County'] == 'Los Angeles'])]['Date']
for i in dates:
    price_value.loc[price_value.Date == i, 'median_price'] = price_value.loc[price_value.Date == i, 'median_price'].fillna(price_value.loc[price_value.Date == i, 'median_price'].mean())
price_value[price_value['County'] == 'Los Angeles']

/tmp/ipykernel_319/71841163.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  price_value.loc[price_value.Date == i, 'median_price'] = price_value.loc[price_value.Date == i, 'median_price'].fillna(price_value.loc[price_value.Date == i, 'median_price'].mean())

           Date       County median_price      avg_value
0    2008-02-02  Los Angeles     450000.0  415114.267851
1    2008-02-09  Los Angeles     460000.0  415114.267851
2    2008-02-16  Los Angeles     474000.0  415114.267851
3    2008-02-23  Los Angeles     482000.0  415114.267851
4    2008-03-01  Los Angeles     460000.0  409234.159417
..          ...          ...          ...            ...
831  2024-01-06  Los Angeles     869000.0  662996.509997
832  2024-01-13  Los Angeles     908500.0  662996.509997
833  2024-01-20  Los Angeles     830000.0  662996.509997
834  2024-01-27  Los Angeles     850000.0  662996.509997
835  2024-02-03  Los Angeles     870500.0  659767.107975

[836 rows x 4 columns]

In [34]:
del data[0]['month']

In [35]:
new_CPI = new_CPI.reset_index()
new_CPI.rename(columns={'DATE':'Date'}, inplace=True)
#test = price_value.merge(new_CPI, left_index=True, right_index=True)
#test

In [36]:
years_dup = new_CPI['Date']
years_dup = ([years_dup.to_numpy()]*4)
years_dup2=[]
dateformat = '%Y-%m-%d'
for i in years_dup:
    for j in i:
        years_dup2.append(j)
CPI_dup = []

for i in ([new_CPI['CPIAUCSL'].to_numpy()]*4):
    for j in i:
        CPI_dup.append(j)

In [37]:
new_dates = []
for i in price_value['Date']:
    if type(i) is date:
        new_dates.append(i)
    else:
        new_dates.append(datetime.strptime(i,dateformat))
price_value['Date'] = new_dates

In [38]:
year_diff = 61 * 12 + 1
new_CPI_data = pd.DataFrame({'Date':years_dup2,'CPI':CPI_dup})
CPI_data = data[0]
CPI_data.rename(columns = {'DATE':'Date'},inplace=True)
df = pd.merge(price_value['Date'], CPI_data, on='Date', how='outer')
print(df)
df = df.set_index('Date').interpolate(method='time').reset_index().drop_duplicates()
print(df)
pd.merge(price_value, df, on='Date', how='left')

           Date  CPIAUCSL
0    1947-01-01     21.48
1    1947-02-01     21.62
2    1947-03-01     22.00
3    1947-04-01     22.00
4    1947-05-01     21.95
...         ...       ...
7583 2024-02-03       NaN
7584 2024-02-03       NaN
7585 2024-02-03       NaN
7586 2024-02-03       NaN
7587 2024-02-03       NaN

[7588 rows x 2 columns]
           Date    CPIAUCSL
0    1947-01-01   21.480000
1    1947-02-01   21.620000
2    1947-03-01   22.000000
3    1947-04-01   22.000000
4    1947-05-01   21.950000
...         ...         ...
7555 2024-01-13  310.214935
7563 2024-01-20  310.524065
7571 2024-01-27  310.833194
7579 2024-02-01  311.054000
7580 2024-02-03  311.054000

[1736 rows x 2 columns]

           Date       County   median_price      avg_value    CPIAUCSL
0    2008-02-02  Los Angeles       450000.0  415114.267851  212.713241
1    2008-02-09  Los Angeles       460000.0  415114.267851  212.896931
2    2008-02-16  Los Angeles       474000.0  415114.267851  213.080621
3    2008-02-23  Los Angeles       482000.0  415114.267851  213.264310
4    2008-03-01  Los Angeles       460000.0  409234.159417  213.448000
...         ...          ...            ...            ...         ...
6683 2024-01-06       Merced  701285.714286  289806.009213  309.905806
6684 2024-01-13       Merced  720142.857143  289806.009213  310.214935
6685 2024-01-20       Merced  696377.142857  289806.009213  310.524065
6686 2024-01-27       Merced  671642.857143  289806.009213  310.833194
6687 2024-02-03       Merced       360000.0  289070.318382  311.054000

[6688 rows x 5 columns]

In [ ]:
Final_dataset = price_value
Final_dataset.to_csv('Processed_Data (Interpolated)',index=False)